@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.help-container {
    /* background-image: url('./help_img.jpg'); */
    background-color: #fff5c0;
    font-family: 'Source Sans Pro', sans-serif; 
    padding: 1.9rem 2rem;
}

.help-container h1 {
    font-size: 4rem;
}

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.help-heading {
    color: black;
}

.help-heading-secondary {
    color: #ffb4b4;
}

.help-paragraph {
    font-size: 14px;
    width: 40%;
    margin: 40px 0;
    font-weight: bold;
}

.help-card-container {
    width:  70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.help-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.index {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.114);
    padding: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 7px;
}

.help-card {
    height: 200px;
    width: 40%;
    border: 1.5px solid black;
    padding: 20px;
    margin: 0.8rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.help-card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 6px 6px;
}

.help-card h2{
    margin: 0;
    font-weight: bold;
}

.link:hover{
    color: rgb(0, 13, 255);
}