@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.home {
    font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('./TiemposHeadline-Regular.otf');
}

.home h1 {
    margin: 0;
}

.home-container {
    background-image: url('https://i.gifer.com/XiNg.gif');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
}

.home .section-heading {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    font-size: 50px;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    height: 100vh;
}


.home-text-primary {
    font-weight: bold;
    font-family: 'Tiempos Headline', sans-serif;
    color: white;
}

.home-text-secondary {
    font-weight: bold;
    color: #ffb4b2;
}

.home-paragraph {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
    padding: 0 7rem;
}

.home-button {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #ffb4b4;
    color: black;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.home-button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px;
}

.home-button:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px;
    transition: transform 0s, box-shadow 0s;
}

/* About MatchMaker */

.about-matchmaker {
    padding: 4rem;
    height: 100vh;
}

.about-matchmaker .frame {
    padding: 2rem;
    display: flex;
    height: 100%;
}

.about-matchmaker .section-heading {
    font-size: 5rem;
    font-family: 'Tiempos Headline', sans-serif;
    margin: auto;
    width: 50%;
    word-spacing: 1.5rem;
}

.about-matchmaker .paragraph {
    width: 50%;
    word-spacing: 0.8rem;
    font-size: 1.2rem;
}

/* How to use */

.home .how-to-use {
    width: 100%;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-72075.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .card-box {
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
    padding: 4rem;
}

.home .card-box .card {
    width: 100%;
    text-align: center;
}

.home .card-image>img {
    height: 33rem;
    width: 80%;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.home .card-image>h2 {
    color: white;
    background-color: black;
    padding: 0.3rem 1rem;
    position: absolute;
    transform: translate(20px, -80px);
}

.home .card-text {
    padding: 1rem;
    text-align: center;
}


/* Colour Theme */
.home .dark-navbar {
    color: white;
    background-color: black;
}